@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700,900');
body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}
.nav{
    width: 100%;
    background: rgb(206, 202, 202);
    margin-top: 30px;
}
.nav li{
    color: #A39161!important; 
    background: none !important;
    cursor: pointer;
    text-transform: uppercase;
    margin-top: 10px;
    padding-left: 8px;
}
.nav li:hover{
    color: rgb(29, 28, 28) !important;
}
#card1{
    width: 210px;
    float: left;
    height: 290px;
    list-style: none;
    margin: 20px 35px 15px -10px;
    padding-bottom: 12px;
    position: relative;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.10);
    border-radius: 8px;
    transition:  all ease-in-out 300ms;
    padding-top: 6px;
}
#card1:hover{
    /*box-shadow: 0px 37px 20px -20px rgba(0, 0, 0, 0.2);*/
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transform: translate(0px, -6px);
}
#output{
    width: 100%;
    padding: 6px;
    height: auto;
    margin-top: 30px;
}
#card1 li img{
   width: 100%;
   margin-top: 0px; 
   height: 100%;
   border: 1px solid #000;
   border-radius: 8px;
}
#card1 li{
    font-size: 12px;
    margin-top: 5px;
    text-align: center;
    text-transform: capitalize !important;
    width: 150px;
    word-break: keep-all;
    margin-left: -10px;
    cursor: pointer;
}
 
#card1 li img:hover{
    border: 1px solid #A39161;
}
#card1 button {
    background: #A39161;
    width: 140px;
    padding:6px; 
    outline: none;
    border: none;
    position: absolute;
    bottom: 10px;
    left: 18%;
}
#card1 button:hover{
    opacity: 0.75;
}
#card1 a{
   color: white !important;
   text-transform: uppercase;
   text-decoration: none;
   
}

@media(max-width:449px){
    #card1{
        width: 160px;
        float: left;
        margin-right: auto;
    }
    #output{
        width: 100%;
        
    }
    #card1 li{
        font-size: 11px;
        width: 100%;
    }
    #card1 button {
        background: #A39161;
        width: 80px;
        padding: 3px;
    }
    #card1 a{
        font-size: 10px;
        
     }
}
